body{

    max-width: 600px;
    margin: auto;
    padding: 2rem;

    background-color:#94a3b8;
    text-align: center;
    font-size: xx-large;
}

label{
    
    padding: 0.5rem;
    display: block;
}
button{
    background-color: #1e293b;
    color: white;
    padding: 0.5rem;
    font-size: medium;
    margin: 1rem;

}

div{
    background-color: aliceblue;
    font-weight: bolder;
    margin: 1rem;
    
    font-size: xx-large;
}

input{
    padding: 0.5rem;
    font-size: medium;
}

.footer{
   
    text-align:center ;
    padding-top: 1rem;
    color: var(--primery-color);
    background-color: var(--secandary-color);
    padding: 1rem;
} 
.footer .link {
    font-size: large;
    padding: 0.5rem;
    color:var(--primery-color);
 }
 #footer-hedder {
    font-size:40px;
} 
.footer ul{
    padding-inline-start: 0px;
}




.list-item-inline{
    display: inline;
    padding-inline-start: 0px;
    padding: 0rem 0.3rem;
}
.link{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.6rem;
}